<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/style.css" />
    <title>My Sports Scheduler</title>
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="my-5 col-start-3 col-span-2">
        <span class="text-3xl my-5 font-semibold text-gray-600">Create new session</span>
        <span><a
          class="ml-3 my-5 bg-cyan-600 hover:bg-cyan-700 text-white px-3 py-1.5 rounded font-medium mr-2 mb"
          href="/sport"
          >Home</a
        ></span>
        <br><br>
        <form action="/sessions" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <input type="hidden" name="sportId" value="<%= sportId %>" />
          <input type="hidden" name="creatorId" value="<%= userId %>" />
          <div class="py-3">
            <label for="playDate" class="text-xl my-3 font-semibold text-gray-600"
              >When will this session be held?</label
            >
            <input
              name="playDate"
              class="ml-5 border border-gray-600 text-gray-900 rounded p-2"
              type="datetime-local"
              min="<%= new Date().toISOString().slice(0, 16) %>"
            />
          </div>
          <div class="py-3">
            <label for="venue" class="text-xl font-semibold text-gray-600"
              >Where will this session be played?</label
            >
            <input
              name="venue"
              class="border border-gray-600 text-gray-900 rounded p-2 w-full"
              type="text"
            />
          </div>
          <div class="py-3">
            <label for="playernames" class="text-xl font-semibold text-gray-600"
              >who all will be joining in this session?</label
            >
            <input
              type="text"
              name="playernames"
              id="playernames"
              class="border border-gray-600 text-gray-900 rounded p-2 w-full"
            />
          </div>
          <div class="py-3">
            <label for="title" class="text-xl font-semibold text-gray-600"
              >How many more players nedded?</label
            >
            <input
              name="playersneeded"
              class="border border-gray-600 text-gray-900 rounded p-2 w-full"
              type="integer"
            />
          </div>
          <div class="py-3">
            <button
              type="submit"
              class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2"
            >
              Create
            </button>
          </div>
        </form>
        <div class="text-red-500"><% if(messages && messages.error && messages.error.length > 0)  { %>
          <% for(var i=0; i<messages.error.length; i++) { %>
                  <li > <%= messages.error[i] %></li>
          <% } %>
        <% } %></div>
        
      </div>
    </div>
  </body>
</html>
