<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/style.css" />
    <title>Document</title>
    <script>
      function deleteSession(id) {
        fetch(`/sessions/${id}`, {
          method: "delete",
        })
          .then((res) => {
            if (res.ok) {
              window.location.href = "/";
            }
          })
          .catch((err) => console.error(err));
      }
      //not working
      function removePlayer(id, playerName) {
        fetch(`/sessions/${id}/removePlayer/${playerName}`, {
          method: "delete",
        })
          .then((res) => {
            if (res.ok) {
              window.location.href = "/";
            }
          })
          .catch((err) => console.error(err));
      }

      function displayReasonField() {
        document.getElementById("reasonField").style.display = "block";
      }
    </script>
  </head>

  <body>
    <div class="grid grid-cols-6 pt-10">
      <div class="col-start-2 col-span-5">
        <br />
        <div>
          <br />
          <a
            class="bg-blue-600 text-white px-3 py-1.5 rounded font-medium mr-2 mb"
            href="/sport"
            >Home</a
          >
        </div>
        <br />
        <div>
          <h1 class="text-3xl font-semibold text-gray-600">
            <%= title %> session #<%= sessionId %>
          </h1>
          <p class="my-5">
            This session is scheduled for <%=
            session.playDate.toLocaleString('en-US', { weekday: 'long' , month:
            'long' , day: 'numeric' , year: 'numeric' , hour: 'numeric' ,
            minute: 'numeric' , hour12: true }) %> , to be played at " <%=
            session.venue %>"
          </p>
          <h1 class="text-2xl font-semibold text-gray-600">
            Players (<%= session.playernames.length %>)
          </h1>
          <ul class="mt-5 list-none display:inline">
            <li>
              <% for( var i=0 ; i < session.playernames.length ; i++) { %> <%
              if((session.playernames[i]===userName) &&
              (session.playernames[i]===creatorName)) { %>
              <div
                class="border border-gray-600 text-gray-900 rounded p-2 my-2 w-40 display:inline"
              >
                You
                <p class="font-light">organizer</p>
              </div>
              <% } %> <% if((session.playernames[i]===userName) &&
              (session.playernames[i]!=creatorName)) { %>
              <div
                class="border border-gray-600 text-gray-900 rounded p-2 my-2 w-40 display:inline"
              >
                You
              </div>
              <% } %> <% if((session.playernames[i]===creatorName) &&
              (session.playernames[i]!=userName)) { %>
              <div
                class="border border-gray-600 text-gray-900 rounded p-2 my-2 w-40 display:inline"
              >
                <%=session.playernames[i]%>
                <p class="font-light">organizer</p>
              </div>
              <% } %> <% if((session.playernames[i]!=userName) &&
              (session.playernames[i]!=creatorName) ) { %>

              <div
                class="border border-gray-600 text-gray-900 rounded p-2 w-40 my-2 display:inline"
              >
                <%=session.playernames[i]%> <% if (isCreator) { %>

                <form
                  action="/sessions/<%= sessionId %>/removePlayer/<%=session.playernames[i]%>"
                  method="post"
                >
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                  <button type="submit">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="svg-inline w- h-4 inline"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                      />
                    </svg>
                  </button>
                </form>
                <% } %>
              </div>
              <% } %> <% } %>
            </li>
          </ul>

          <% if ( isJoined===true) { %>
          <div>
            <h5 class="my-5">
              You <% if ( isPrevious) { %>were <% } %> <% if ( !isPrevious) {
              %>are <% } %> in this Session
            </h5>
          </div>

          <% } %> <% if (((session.playersneeded)>0 && session.isCanceled ===
          false && isPrevious === false) || ((session.playersneeded)>0 &&
          isPrevious === false )) { %> <% if (isJoined===false &&
          allowToJoin===true) { %>
          <form
            id="joinForm"
            action="/sessions/<%= sessionId %>/join"
            method="POST"
          >
            <h3 class="my-5">Click Join to join the session</h3>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button
              type="submit"
              class="border border-gray-600 text-white bg-blue-600 hover:bg-blue-800 font-medium rounded px-1.5 py-1"
            >
              Join Session
            </button>
          </form>
          <br />
          <% } %> <% } %> <% if (allowToJoin===false &&
          userJoinedSession.isCanceled===false && isJoined===false) { %>
          <h3>
            You Can't join this session as you have the following Session at the
            same time
          </h3>
          <div>
            <table>
              <br />

              <tr>
                <td>
                  <div
                    class="border border-gray-600 text-gray-900 rounded p-2 w-full"
                  >
                    <a
                      href="/sessions/<%=userJoinedSession.id %>"
                      class="text-green-600"
                    >
                      <div class="mr-18 display: inline">
                        <%=userJoinedSession.playDate.toString().substring(0,25)%>
                      </div>
                      <% if (userJoinedSession.playersneeded>1) { %>
                      <div class="pl-5 pr-2 display: inline">
                        <%=userJoinedSession.playersneeded %> slots
                      </div>
                      <% } %> <% if (userJoinedSession.playersneeded===1) { %>
                      <div class="text-red-600 pl-5 pr-2 display: inline">
                        Last slot
                      </div>
                      <% } %> <% if (userJoinedSession.playersneeded===0) { %>
                      <div
                        class="text-green-1000 font-bold pl-5 pr-2 display: inline"
                      >
                        Fully Booked
                      </div>
                      <% } %>
                    </a>
                  </div>
                </td>
              </tr>
              <% } %>
            </table>
          </div>
          <% if ((session.playersneeded)==0 && isJoined===true) { %>
          <div>Your Session is Fully booked</div>
          <% } %> <% if (isJoined && isPrevious===false &&
          session.isCanceled===false ) { %>
          <h5 class="mt-4">Do You Want to leave this session ?</h5>
          <form action="/sessions/<%= sessionId %>/leave" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button
              type="submit"
              class="my-5 text-white bg-blue-600 hover:bg-blue-800 font-medium rounded px-1.5 py-1"
            >
              leave session
            </button>
          </form>
          <% } %> <% if ((session.playersneeded)==0 && isJoined===false) { %>
          <div>This session is Fully Booked. No slots available</div>
          <% } %> <% if ( isCreator && session.isCanceled===false) { %>
          <div class="mb-5">
            <a
              href="/sessions/<%= session.id %>/edit"
              class="border border-gray-600 text-white bg-blue-600 hover:bg-blue-800 font-medium rounded px-1.5 py-1"
            >
              Edit session
            </a>
          </div>
          <div>
            <% if ((session.isCanceled===false) && (isCreator)) { %>
            <form action="/sessions/<%= sessionId %>/cancel" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <button
                type="button"
                class="text-white bg-red-600 hover:bg-red-800 font-medium rounded px-1.5 py-1"
                onclick="displayReasonField()"
              >
                Cancel session
              </button>
              <br />
              <br />
              <div id="reasonField" style="display: none">
                <textarea
                  name="reason"
                  class="border border-gray-600 p-2 rounded"
                  rows="4"
                  cols="50"
                ></textarea>
                <br />
                <button
                  type="submit"
                  class="my-5 text-white bg-red-600 hover:bg-red-800 font-medium rounded px-1.5 py-1"
                >
                  Confirm Cancellation
                </button>
              </div>
            </form>
            <% } %>
          </div>
          <% } %> <% if (session.isCanceled===true) { %>
          <div class="my-5">
            <h5>This session is canceled due to :</h5>
            <%= reason %>
          </div>
          <% } %>
          <div>
            <a
              class="my-5 bg-red-600 hover:bg-red-800 text-white px-3 py-1 rounded font-medium"
              href="/signout"
              >Signout</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
