<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="./css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="grid grid-cols-10">
      <div class="mt-6 col-start-4 col-span-4">
        <div>
          <span class="text-4xl mr-5 font-semibold text-gray-600"
            >Sports Scheduler</span
          >
          <span
            ><a
              class="ml-3 my-5 bg-blue-600 hover:bg-blue-700 text-white px-3 py-1.5 rounded font-medium mr-2 mb"
              href="/sport"
              >Home</a
            ></span
          >
        </div>

        <div class="mt-5">
          <form action="/reports" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <div class="py-3">
              <label for="startDate" class="text-xl font-semibold text-gray-600"
                >From</label
              >
              <input
                name="startDate"
                id="startDate"
                class="ml-6 border border-gray-600 text-gray-900 rounded p-2"
                type="datetime-local"
              />
            </div>
            <div class="py-3">
              <label for="endtDate" class="text-xl font-semibold text-gray-600"
                >To</label
              >
              <input
                name="endDate"
                id="endDate"
                class="ml-12 border border-gray-600 text-gray-900 rounded p-2"
                type="datetime-local"
              />
            </div>
            <div class="py-3">
              <button
                type="submit"
                class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2"
              >
                Filter
              </button>
            </div>
          </form>
          <div class="text-red-500"><% if(messages && messages.error && messages.error.length > 0)  { %>
            <% for(var i=0; i<messages.error.length; i++) { %>
                    <li > <%= messages.error[i] %></li>
            <% } %>
          <% } %></div>
          <script>
            const startDateInput = document.getElementById("startDate");
            const endDateInput = document.getElementById("endDate");
            startDateInput.addEventListener("input", function () {
              endDateInput.min = startDateInput.value;
            });
          </script>
        </div>
        <hr class="my-5 h-0.5 bg-black opacity-50" />
        <div>
          <h5 class="text-xl font-bold text-gray-600 pb-5">
            The following are Sports according to no of sessions created
          </h5>

          <div>
            <table>
              <% for( var i = 0 ; i < allSports.length ; i++) { %>
              <tr>
                <td style="padding: 10px; text-align: center">
                  <a
                    href="/sport/<%= allSports[i].id
                    %>/report-session/<%= startDate %>/<%= endDate %>"
                    class="bg-white hover:bg-stone-50 font-semibold rounded my-0.5 p-2 w-auto text-green-600 w-full"
                    ><%=allSports[i].title %>
                  </a>
                </td>
                <td style="padding: 10px; text-align: center">
                  number ofsessions : <%=sessionCounts[i] %>
                </td>
              </tr>
              <% } %>
            </table>
          </div>
          <hr class="my-5 h-0.5 bg-black opacity-50" />
          <div>
            <h5 class="text-2xl font-bold text-gray-600 pb-5">
              Relative popularity of Sports
            </h5>
          </div>
        </div>
        <div style="width: 600px; height: 300px;">
          <canvas id="myChart"></canvas>
        </div>
        <hr class="my-5 h-0.5 bg-black opacity-50" />
        <div>
          <h5 class="text-2xl font-bold text-gray-600 pb-5">
            Ranking of Sports
          </h5>
          <ol type="1">
            <% for (var i = 0; i < sortedSportTitles.length; i++) { %>
            <li>
              <span class="mr-5 text-xl font-bold text-purple-900"><%= i+1 %></span
              ><span class=" text-xl font-semibold text-purple-900 "><%= sortedSportTitles[i] %></span>
            </li>
            <% } %>
          </ol>
        </div>
        <div class="my-5"></div>
        <div class="my-5">
          <a
            class="bg-red-600 hover:bg-red-800 text-white px-3 py-1.5 rounded font-medium mr-2 mb mt-5"
            href="/signout"
            >Signout</a
          >
        </div>
      </div>
    </div>
    <script>
      const sportTitlesx = <%- JSON.stringify(sortedSportTitles) %>;
      const sessionCountsy = <%- JSON.stringify(sortedSessionCount) %>;

      new Chart("myChart", {
        type: "bar",
        data: {
          labels: sportTitlesx,
          datasets: [
            {
              label: "No of Sessions created",
              data: sessionCountsy,
            },
          ],
        },
        options: {},
      });
    </script>
  </body>
</html>
