<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/style.css" />
    <title>Document</title>
    <script>
      function deleteSport(id) {
        fetch(`/sport/${id}`, {
          method: "delete",
        })
          .then((res) => {
            if (res.ok) {
              window.location.href = "/";
            }
          })
          .catch((err) => console.error(err));
      }
    </script>
  </head>
  <body>
    <div class="grid grid-cols-6 pt-10">
      <div class="col-start-3 col-span-2">
        <div class="text-3xl font-semibold text-gray-600"><%= title %></div>
        <br />
        <a
          href="/"
          class="text-green-600 underline"
          onclick="deleteSport(<%= sportId %>)"
          >Delete Sport
        </a>
        <br />
        <br />
        <a
          href="/sport/<%= sportId %>/new_session"
          class="text-green-600 underline"
          >create session</a
        >

        <br />
        <br />
        <div>
          <h1 class="text-xl font-semibold text-gray-600">Upcoming sessions</h1>
          <table>
            sportId : <%= sportId %>
            <br />
            <%=allSessions.length %> sessions Available<% for( var i = 0 ; i <
            allSessions.length ; i++) { %>
            <tr>
              <td>
                <div
                  class="border border-gray-600 text-gray-900 rounded p-2 w-full"
                >
                  <a
                    href="/sessions/<%=allSessions[i].id %>"
                    class="text-green-600"
                  >
                    <div class="mr-18 display: inline">
                      <%=allSessions[i].playDate.toString().substring(0,25)%>
                    </div>
                    <div class="pl-5 pr-2 display: inline">
                      <%=allSessions[i].playersneeded %> slots
                    </div>
                  </a>
                </div>
              </td>
            </tr>
            <% } %>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
