<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/style.css" />
    <title>Sports</title>
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <%- include('header') %> <br />
        <div class="text-2xl font-semibold text-gray-600">
          Welcome <%= userName %>
        </div>
        <div class="py-5">
          <a href="/my_sessions" class="text-green-600 underline"
            >My sessions</a
          >
        </div>
        <% if (isAdmin) { %>
        <div class="py-5">
          isadmin <%= isAdmin %>
          <div class="py-5">
            <a href="/createSport" class="text-green-600 underline"
              >Create New Sport</a
            >
          </div>

          <div class="py-2">
            <a href="/reports" class="text-green-600 underline">View reports</a>
          </div>
        </div>
        <% } %>
        <hr class="rounded h-5 my-3" />
        <div>
          <h5 class="text-xl font-semibold text-gray-600 pb-5">
            You have the following upcoming Sessions
          </h5>
          <table>
            <%=userUpcomingSessions.length %> sessions Available<% for( var i =
            0 ; i < userUpcomingSessions.length ; i++) { %>
            <tr>
              <td>
                <a
                  href="/sessions/<%=userUpcomingSessions[i].id %>"
                  class="text-green-600"
                >
                  <div
                    class="border border-gray-600 text-green-600 rounded p-2 my-0.5 w-full"
                  >
                    <div class="mr-18 display: inline">
                      <%=userUpcomingSessions[i].playDate.toString().substring(0,25)%>
                    </div>
                    <% if (userUpcomingSessions[i].playersneeded>1) { %>
                    <div class="pl-5 pr-2 display: inline">
                      <%=userUpcomingSessions[i].playersneeded %> slots
                    </div>
                    <% } %> <% if (userUpcomingSessions[i].playersneeded===1) {
                    %>
                    <div class="text-red-600 pl-5 pr-2 display: inline">
                      Last slot
                    </div>
                    <% } %> <% if (userUpcomingSessions[i].playersneeded ===0) {
                    %>
                    <div
                      class="text-green-1000 font-bold pl-5 pr-2 display: inline"
                    >
                      Fully Booked
                    </div>
                    <% } %> <% if (userUpcomingSessions[i].isCanceled ===true )
                    { %>
                    <div
                      class="text-black-1000 font-bold pl-5 pr-2 display: inline"
                    >
                      Canceled
                    </div>
                    <% } %>
                  </div>
                </a>
              </td>
            </tr>
            <% } %>
          </table>
        </div>
        <hr class="rounded h-5 my-3" />
        <div>
          <h5 class="text-xl font-semibold text-gray-600 pb-5">
            The following Sports are available. Please select one
          </h5>
          <div>
            <table>
              <% for( var i = 0 ; i < allSports.length ; i++) { %>
              <tr>
                <td>
                  <a
                    href="/sport/<%= allSports[i].id
                  %>"
                    class="text-green-600 no-underline"
                  >
                    <div
                      class="border border-gray-600 text-gray-900 rounded my-0.5 p-2 w-full"
                    >
                      <%=allSports[i].title %>
                    </div>
                  </a>
                </td>
              </tr>
              <% } %>
            </table>
          </div>
        </div>
        <hr class="rounded h-5 my-3" />
        <div>
          <h5 class="text-xl font-semibold text-gray-600 pb-5">
            You Created the following upcoming Sessions
          </h5>
          <table>
            <%=createdUpcomingSessions.length %> sessions Available<% for( var i
            = 0 ; i < createdUpcomingSessions.length ; i++) { %>
            <tr>
              <td>
                <a
                  href="/sessions/<%=createdUpcomingSessions[i].id %>"
                  class="text-green-600"
                >
                  <div
                    class="border border-gray-600 text-green-600 rounded p-2 my-0.5 w-full"
                  >
                    <div class="mr-18 display: inline">
                      <%=createdUpcomingSessions[i].playDate.toString().substring(0,25)%>
                    </div>
                    <% if (createdUpcomingSessions[i].playersneeded>1) { %>
                    <div class="pl-5 pr-2 display: inline">
                      <%=createdUpcomingSessions[i].playersneeded %> slots
                    </div>
                    <% } %> <% if (createdUpcomingSessions[i].playersneeded===1)
                    { %>
                    <div class="text-red-600 pl-5 pr-2 display: inline">
                      Last slot
                    </div>
                    <% } %> <% if (createdUpcomingSessions[i].playersneeded
                    ===0) { %>
                    <div
                      class="text-green-1000 font-bold pl-5 pr-2 display: inline"
                    >
                      Fully Booked
                    </div>
                    <% } %> <% if (createdUpcomingSessions[i].isCanceled ===true
                    ) { %>
                    <div
                      class="text-black-1000 font-bold pl-5 pr-2 display: inline"
                    >
                      Canceled
                    </div>
                    <% } %>
                  </div>
                </a>
              </td>
            </tr>
            <% } %>
          </table>
        </div>
        <hr class="rounded h-5 my-3" />
        <div>
          <br />
          <a
            class="bg-blue-600 text-white px-3 py-1 rounded font-medium mr-2 mb mt-5"
            href="/signout"
            >Signout</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
