<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/style.css" />
    <title>Sports</title>
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <%- include('header') %> <br />
        <div class="text-2xl font-semibold text-gray-600">
          Welcome
          <!-- <%= loggedInUser.firstName %> <%= loggedInUser.lastName %> ! -->
          <%= userName %>
        </div>
        <div class="py-5">
          <!-- <a href="/createSport" class="text-green-600 underline"
            >Create New sport</a
          > -->
          isadmin <%= isAdmin %> <% if (isAdmin) { %>
          <div class="py-5">
            <a href="/createSport" class="text-green-600 underline"
              >Create New Sport</a
            >
          </div>

          <div class="py-2">
            <a href="/reports" class="text-green-600 underline">View reports</a>
          </div>
          <% } %>
        </div>

        <div>
          <h5 class="text-xl font-semibold text-gray-600 pb-5">
            You have the following upcoming Sessions
          </h5>
          <table>
            <%=allSessions.length %> sessions Available<% for( var i = 0 ; i <
            allSessions.length ; i++) { %>
            <tr>
              <td>
                <div
                  class="border border-gray-600 text-gray-900 rounded p-2 w-full"
                >
                  <a
                    href="/sessions/<%=allSessions[i].id %>"
                    class="text-green-600"
                  >
                    <div class="mr-18 display: inline">
                      <%=allSessions[i].playDate.toString().substring(0,25)%>
                    </div>
                    <% if (allSessions[i].playersneeded>1) { %>
                    <div class="pl-5 pr-2 display: inline">
                      <%=allSessions[i].playersneeded %> slots
                    </div>
                    <% } %> <% if (allSessions[i].playersneeded===1) { %>
                    <div class="text-red-600 pl-5 pr-2 display: inline">
                      Last slot
                    </div>
                    <% } %> <% if (allSessions[i].playersneeded ===0) { %>
                    <div
                      class="text-green-1000 font-bold pl-5 pr-2 display: inline"
                    >
                      Fully Booked
                    </div>
                    <% } %>
                  </a>
                </div>
              </td>
            </tr>
            <% } %>
          </table>
        </div>

        <div>
          <h5 class="text-xl font-semibold text-gray-600 pb-5">
            The following Sports are available. Please select one
          </h5>
          <div>
            <table>
              <% for( var i = 0 ; i < allSports.length ; i++) { %>
              <tr>
                <td>
                  <div
                    class="border border-gray-600 text-gray-900 rounded p-1 w-full"
                  >
                    <a
                      href="/sport/<%= allSports[i].id
                  %>"
                      class="underline text-green-600"
                      ><%=allSports[i].title %></a
                    >
                  </div>
                </td>
              </tr>
              <% } %>
            </table>
          </div>
        </div>

        <div>
          <br />
          <a
            class="bg-blue-600 text-white px-3 py-1 rounded font-medium mr-2 mb mt-5"
            href="/signout"
            >Signout</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
